.DS_Store

.htaccess
index.php
composer.lock
pnpm-lock.yaml

# Ignore entire wordpress directory
wordpress/*

# But allow access to wp-content
!wordpress/wp-content/

# Ignore everything in wp-content
wordpress/wp-content/*

# But allow themes and plugins directories
!wordpress/wp-content/themes/
!wordpress/wp-content/plugins/

# Ignore all themes and plugins
wordpress/wp-content/themes/*
wordpress/wp-content/plugins/*

# Theme specific files
wordpress/wp-content/themes/base-theme/build

!wordpress/wp-content/themes/base-theme/
!wordpress/wp-content/themes/base-theme/index.php

# Plugin specific files
!wordpress/wp-content/plugins/base-plugin/build

!wordpress/wp-content/plugins/base-plugin/

# Turbo
.turbo

build
node_modules
vendor
bundle-analysis

# MAMP
.well-known
